
@{
    ViewBag.Title = "About";
}
<h2 style="padding-left:500px" class="bg-dark  text-white">About Me</h2>
<br />
<div class="row mt-2">

    <div class="col-md-5">
        <img src="~/Photo/Ashu.jpg" height="500" width="400" />
    </div>
    <div class="col-md-7">
        <p>
            <h5 style="line-height:190%">

                I Completed Master of Computer Application from Department of Computer Science ,Kavayatri
                bahinabai chaudhari north maharastra university,jalgaon.


                My career objective is to build a career with a leading corporate hi-tech
                environment with committed and dedicated people, which helps me
                to explore fully and realize myself.
                <br />
                <br />


                &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp Every person should have knowledge of multiple things, and I am one of them.
                Apart from academics ,my hobby is playing Chess as well as cricket.


            </h5>
                 <blockquote style=" float: right; font-family: Gabriola;"> Ashish G. Tongalkar </blockquote>

        </p>

    </div>
</div>


<h1>
    What I Do for myself
</h1>
<blockquote>
    <i class="fas fa-check-circle"></i>&nbsp&nbsp Learning new things to keep himself up to date <br /><br />
    <i class="fas fa-check-circle"></i>&nbsp&nbsp Solving Problem Statments<br /><br />
    <i class="fas fa-check-circle"></i>&nbsp&nbsp    Gives the answer also find on Quora.<br /><br />
    <i class="fas fa-check-circle"></i>&nbsp&nbsp  Accept new challenges on solo learn.
</blockquote>
